<p>
	<label>Nome</label>
	<input type="text" name="input" ng-model="trabalho.name" required ng-trim="false" class='form-control '>
</p>
<p>
	<label>Turma</label>
	<input type="text" name="input" ng-model="trabalho.turma" required ng-trim="false" class='form-control '>
</p>
<p>
	<label>Local</label>
	<input type="text" name="input" ng-model="trabalho.local" required ng-trim="false" class='form-control '>
</p>
<p>
	<label>Coordenadores</label>
	<input type="text" name="input" ng-model="trabalho.coordenadores" required ng-trim="false" class='form-control '>
</p>
<p>
	<label>Componentes</label>
	<input type="text" name="input" ng-model="trabalho.componentes" required ng-trim="false" class='form-control '>
</p>
<p>
	<input type="submit" value="Gravar" class="btn btn-primary btn-lg btn-block">
</p>