<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%=image_tag('http://setordepessoalpcrn.myvnc.com/assets/cartaoaniversariantepoliciacivil.jpg') %>
  </body>
</html>
Feliz Aniversário!
Neste dia especial expresso meus siceros votos de felicidade, saúde e paz, desejando êxito no trabalho que realiza e harmonia com todos os que desfrutam do privilégio de sua amizade.
Delegado Geral da Polícia Civil do RN.
