<div class="row">
  <div class="col-sm-12">
    <!--img src="images/jornadaib.png" style="padding: 4px" alt="jornadaib"-->
    <img src="images/perfil.jpg" alt="perfil" class="img-thumbnail" style="width: 400px;">
    <div>
      <p style="padding-bottom: 10px;"> Aplicativo desenvolvido pela aluna Emmanuelle Victória Richard de Moura para a edição 2015 da Jornada de Saúde, Artes e Educação do Instituto Brasil. </p>
      <p style="padding-bottom: 10px;"> Tema: Instituto Brasil, 65 anos de História, formando cidadãos e cidadãs para um mundo mais justo e fraterno. </p>
      Exposição dos trabalhos no dia 06/11/52015
      <br>
      Unidade I das 13h às 21h
    </div>
  </div>
</div>